USE [master]
GO
/****** Object:  Database [SellCosmeticsDataBase]    Script Date: 4/25/2024 8:54:43 PM ******/
CREATE DATABASE [SellCosmeticsDataBase] ON  PRIMARY 
( NAME = N'SellCosmeticsDataBase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SellCosmeticsDataBase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SellCosmeticsDataBase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SellCosmeticsDataBase_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SellCosmeticsDataBase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SellCosmeticsDataBase]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 4/25/2024 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[user_id] [int] NULL,
	[price] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
	[size] [int] NULL,
 CONSTRAINT [PK_carts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 4/25/2024 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[slug] [varchar](200) NULL,
	[status] [int] NULL,
	[created_at] [datetime2](7) NOT NULL,
	[updated_at] [datetime2](7) NULL,
	[icon] [varchar](max) NULL,
	[isdetele] [int] NULL,
	[parentId] [int] NULL,
 CONSTRAINT [PK_categories] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contacts]    Script Date: 4/25/2024 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contacts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](250) NULL,
	[phone_number] [varchar](11) NULL,
	[note] [text] NULL,
	[status] [int] NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_contacts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[images]    Script Date: 4/25/2024 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NULL,
	[alt] [nvarchar](400) NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_images] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_details]    Script Date: 4/25/2024 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[price] [decimal](18, 0) NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_order_details] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 4/25/2024 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](250) NULL,
	[user_id] [int] NULL,
	[note] [nvarchar](500) NULL,
	[full_name] [nvarchar](150) NULL,
	[phone_number] [varchar](150) NULL,
	[review] [int] NULL,
	[payment] [int] NOT NULL,
	[status] [int] NULL,
	[total] [int] NULL,
	[fee_ship] [int] NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 4/25/2024 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](250) NULL,
	[slug] [varchar](500) NULL,
	[avatar] [varchar](200) NULL,
	[content] [nvarchar](max) NULL,
	[short_content] [nvarchar](500) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
	[status] [int] NULL,
	[author] [int] NULL,
 CONSTRAINT [PK_posts] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product_images]    Script Date: 4/25/2024 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NULL,
	[image_id] [int] NULL,
 CONSTRAINT [PK_product_images] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 4/25/2024 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](250) NULL,
	[category_id] [int] NULL,
	[price_sell] [decimal](18, 0) NULL,
	[description] [nvarchar](max) NULL,
	[status] [int] NULL,
	[price_reduced] [decimal](18, 0) NULL,
	[horizontal] [int] NULL,
	[trademark] [nvarchar](500) NULL,
	[price_import] [decimal](18, 0) NULL,
	[trademarkId] [int] NULL,
	[ishidden] [int] NULL,
	[sizes] [varchar](max) NULL,
	[images] [varchar](max) NULL,
	[number_import] [int] NULL,
	[cover_type] [int] NULL,
	[description_short] [nvarchar](max) NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 4/25/2024 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
	[created_at] [datetime2](7) NULL,
	[comment] [nvarchar](max) NULL,
	[status] [int] NULL,
	[star] [int] NULL,
	[fullname] [nvarchar](max) NULL,
 CONSTRAINT [PK_reviews] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 4/25/2024 8:54:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](250) NULL,
	[phone_number] [varchar](11) NULL,
	[email] [varchar](50) NULL,
	[avatar] [varchar](500) NULL,
	[code] [varchar](10) NULL,
	[address] [nvarchar](max) NULL,
	[role] [int] NULL,
	[password] [varchar](32) NULL,
	[status] [int] NULL,
	[register_date] [datetime2](7) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [slug], [status], [created_at], [updated_at], [icon], [isdetele], [parentId]) VALUES (34, N'Son Môi', NULL, 0, CAST(N'2024-04-09T16:19:32.9406488' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[categories] ([id], [name], [slug], [status], [created_at], [updated_at], [icon], [isdetele], [parentId]) VALUES (35, N'Nước Hoa', NULL, 0, CAST(N'2024-04-09T16:20:05.6462424' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[categories] ([id], [name], [slug], [status], [created_at], [updated_at], [icon], [isdetele], [parentId]) VALUES (36, N'Chống Nắng', NULL, 0, CAST(N'2024-04-09T16:21:05.5617257' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[categories] OFF
SET IDENTITY_INSERT [dbo].[images] ON 

INSERT [dbo].[images] ([id], [name], [alt], [status]) VALUES (1, N'sach2.jpg', NULL, NULL)
INSERT [dbo].[images] ([id], [name], [alt], [status]) VALUES (3, N'sach1.png', NULL, NULL)
INSERT [dbo].[images] ([id], [name], [alt], [status]) VALUES (4, N'thoi1.jpg', NULL, NULL)
SET IDENTITY_INSERT [dbo].[images] OFF
SET IDENTITY_INSERT [dbo].[order_details] ON 

INSERT [dbo].[order_details] ([id], [order_id], [product_id], [price], [quantity]) VALUES (23, 29, 51, CAST(1450000 AS Decimal(18, 0)), 1)
INSERT [dbo].[order_details] ([id], [order_id], [product_id], [price], [quantity]) VALUES (29, 35, 77, CAST(990000 AS Decimal(18, 0)), 1)
INSERT [dbo].[order_details] ([id], [order_id], [product_id], [price], [quantity]) VALUES (30, 36, 71, CAST(1050000 AS Decimal(18, 0)), 2)
SET IDENTITY_INSERT [dbo].[order_details] OFF
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [code], [user_id], [note], [full_name], [phone_number], [review], [payment], [status], [total], [fee_ship], [created_at]) VALUES (29, N'MDH00243', 2, NULL, N'Nguyễn Văn Hưng', N'0345801982', NULL, 0, 1, 1450000, NULL, CAST(N'2024-02-14T11:02:43.7324069' AS DateTime2))
INSERT [dbo].[orders] ([id], [code], [user_id], [note], [full_name], [phone_number], [review], [payment], [status], [total], [fee_ship], [created_at]) VALUES (35, N'MDH00221', 2, NULL, N'Nguyễn Văn Hưng', N'0345801982', NULL, 0, 2, 990000, NULL, CAST(N'2024-03-15T22:53:21.7905744' AS DateTime2))
INSERT [dbo].[orders] ([id], [code], [user_id], [note], [full_name], [phone_number], [review], [payment], [status], [total], [fee_ship], [created_at]) VALUES (36, N'MDH00231', 2, NULL, N'Nguyễn Văn Hưng', N'0345801982', NULL, 0, 1, 2100000, NULL, CAST(N'2024-03-15T22:54:31.3006673' AS DateTime2))
SET IDENTITY_INSERT [dbo].[orders] OFF
SET IDENTITY_INSERT [dbo].[posts] ON 

SET IDENTITY_INSERT [dbo].[posts] OFF
SET IDENTITY_INSERT [dbo].[product_images] ON 

INSERT [dbo].[product_images] ([id], [product_id], [image_id]) VALUES (1, 49, 1)
INSERT [dbo].[product_images] ([id], [product_id], [image_id]) VALUES (3, 50, 3)
INSERT [dbo].[product_images] ([id], [product_id], [image_id]) VALUES (4, 51, 4)
SET IDENTITY_INSERT [dbo].[product_images] OFF
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
SET IDENTITY_INSERT [dbo].[reviews] ON 

INSERT [dbo].[reviews] ([id], [order_id], [product_id], [created_at], [comment], [status], [star], [fullname]) VALUES (1, NULL, 75, CAST(N'2024-04-21T21:34:10.2905305' AS DateTime2), N'45555', NULL, 5, N'5655')
INSERT [dbo].[reviews] ([id], [order_id], [product_id], [created_at], [comment], [status], [star], [fullname]) VALUES (2, NULL, 76, CAST(N'2024-04-21T22:14:22.2040174' AS DateTime2), N'1', NULL, 5, N'nguyễn văn hải')
INSERT [dbo].[reviews] ([id], [order_id], [product_id], [created_at], [comment], [status], [star], [fullname]) VALUES (3, NULL, 76, CAST(N'2024-04-21T22:30:45.9013040' AS DateTime2), N'2222', NULL, 3, N'nguyễn văn hải')
SET IDENTITY_INSERT [dbo].[reviews] OFF
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [full_name], [phone_number], [email], [avatar], [code], [address], [role], [password], [status], [register_date]) VALUES (1, N'Lại Thị Mai', N'0345801986', N'laithimai@gmail.com', NULL, N'', N'thanh xuân hà nội', 0, N'123456789', 0, NULL)
INSERT [dbo].[users] ([id], [full_name], [phone_number], [email], [avatar], [code], [address], [role], [password], [status], [register_date]) VALUES (2, N'Nguyễn Văn Hưng', N'0345801982', N'nguyenvanhung@gmail.com', N'thoi1.jpg', N'', N'thanh xuân hà nội1
', 1, N'12345678', 0, CAST(N'2023-01-08T23:12:38.7417512' AS DateTime2))
INSERT [dbo].[users] ([id], [full_name], [phone_number], [email], [avatar], [code], [address], [role], [password], [status], [register_date]) VALUES (3, N'Lê Thị Hạnh', N'0345801984', N'hanh@gmail.com', NULL, NULL, NULL, 1, N'12345678', 0, CAST(N'2023-01-10T09:52:08.2503595' AS DateTime2))
SET IDENTITY_INSERT [dbo].[users] OFF
/****** Object:  Index [IX_carts_product_id]    Script Date: 4/25/2024 8:54:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_carts_product_id] ON [dbo].[carts]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_details_order_id]    Script Date: 4/25/2024 8:54:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_order_details_order_id] ON [dbo].[order_details]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_order_details_product_id]    Script Date: 4/25/2024 8:54:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_order_details_product_id] ON [dbo].[order_details]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_orders_user_id]    Script Date: 4/25/2024 8:54:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_orders_user_id] ON [dbo].[orders]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_images_image_id]    Script Date: 4/25/2024 8:54:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_product_images_image_id] ON [dbo].[product_images]
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_product_images_product_id]    Script Date: 4/25/2024 8:54:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_product_images_product_id] ON [dbo].[product_images]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_products_category_id]    Script Date: 4/25/2024 8:54:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_products_category_id] ON [dbo].[products]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_reviews_order_id]    Script Date: 4/25/2024 8:54:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_reviews_order_id] ON [dbo].[reviews]
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_reviews_product_id]    Script Date: 4/25/2024 8:54:44 PM ******/
CREATE NONCLUSTERED INDEX [IX_reviews_product_id] ON [dbo].[reviews]
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK_carts_products_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK_carts_products_product_id]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_orders_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_orders_order_id]
GO
ALTER TABLE [dbo].[order_details]  WITH CHECK ADD  CONSTRAINT [FK_order_details_products_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_details] CHECK CONSTRAINT [FK_order_details_products_product_id]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users_user_id]
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [FK_product_images_images_image_id] FOREIGN KEY([image_id])
REFERENCES [dbo].[images] ([id])
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [FK_product_images_images_image_id]
GO
ALTER TABLE [dbo].[product_images]  WITH CHECK ADD  CONSTRAINT [FK_product_images_products_product_id] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[product_images] CHECK CONSTRAINT [FK_product_images_products_product_id]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_categories_category_id] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_categories_category_id]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_orders_order_id] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_orders_order_id]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_products] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_products]
GO
USE [master]
GO
